.login-box {
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  @media (max-width: 576px) {
    width: 90%;
  }
}

.input-box {
  display: block;
  margin-bottom: 5px;
}

.form-button {
  margin-top: 10px;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}