<!--<mat-toolbar class="toolbar" color="primary">
    <mat-icon>menu</mat-icon>
    <a routerLink="/home" routerLinkActive="active"><button mat-button>Home</button></a>
    <a routerLink="/weather" routerLinkActive="active"><button mat-button>Weather</button></a>
    <a routerLink="/routes" routerLinkActive="active"><button mat-button>Routes</button></a>
    <a routerLink="/contact" routerLinkActive="active"><button mat-button>Contact</button></a>
    <a routerLink="/admin-panel" *ngIf="userService.getToken()" routerLinkActive="active"><button mat-button>Admin Panel</button></a>
</mat-toolbar>
<router-outlet></router-outlet>-->
<app-main-nav></app-main-nav>
<div class="message-error" [@fadeAnimation] *ngIf="errorMessageService.displayMessage">
    <app-error-message></app-error-message>
</div>