<div class="container-fluid page-container home">
    <h1>About me</h1>
    <div class="row about-container">
        <div class="col-md-4 col-sm-5">
            <div class="avatar">
                <img src="assets/avatar.jpg" alt="Me">
            </div>
        </div>
        <div class="col-md-8 col-sm-7">
            <p><span class="name">Hi, my name is Dima.</span> I have been working as a programmer since 2016. During this time, I have finished course Web Developer. Also I got the experience in turn-sites development.</p>
            <p>I am highly-motivated, result oriented, self-driven, hard-working, fast learner and smart eager to be a part of the team, learn new technologies, become a valuable employee of the company and bring it success.</p>
            <p>Well-organized with an ability to prioritize tasks and capability to work, develop and grow in the company. You can contact me on the <a routerLink="/contact">contact page</a></p>
        </div>
    </div>
    <div>
        <h3>Skills</h3>
        <div class="skills">
            <div class="centered">
                <div class="skills-item">
                    <div>
                        <img class="skills-icon" src="assets/developer-icon.svg"/>
                    </div>
                    <h4>Developer</h4>
                    <div class="skills-tools">
                        <h5>Dev Tools</h5>
                        <ul>
                            <li>JS, Jquery</li>
                            <li>HTML5, CSS3</li>
                            <li>Angular 2+, Vue.js</li>
                            <li>Sass, Bootstrap</li>
                            <li>Gulp, Webpack</li>
                            <li>Git</li>
                            <li>PHP</li>
                            <li>Laravel 5+</li>
                            <li>Wordpress</li>
                        </ul>
                    </div>
                </div>
                <div class="skills-item">
                    <div>
                        <img class="skills-icon" src="assets/designer-icon.svg"/>
                    </div>
                    <h4>Designer</h4>
                    <div class="skills-tools">
                        <h5>Design Tools</h5>
                        <ul>
                            <li>Illustrator</li>
                            <li>Photoshop</li>
                            <li>Figma</li>
                            <li>Pen & Paper</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>