<div class="container-fluid admin-panel">
    <div class="row">
        <div class="col-md-6">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let dialog of dialogs">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ dialog.updated_at }}</mat-panel-title>
                        <mat-panel-description>{{ dialog.messages[0]?.message.substring(0, 30) }}...</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="dialog">
                        <div class="message"
                             *ngFor="let message of dialog.messages"
                             [ngClass]="{'message-admin': message.admin}">

                            <span class="message-wrapper">
                                {{ message.message }}
                                <span class="message-time">{{ message.created_at }}</span>
                            </span>
                        </div>
                    </div>
                    <mat-form-field class="msg-input">
                        <textarea matInput
                                  #msg
                                  placeholder="Message"></textarea>

                    </mat-form-field>
                    <button mat-raised-button
                            (click)="sendMessage(msg, dialog)"
                            [disabled]="!msg.value">
                        Send

                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>